h1, h2, h3, h4, h5, h6, a, p {
  font-family: 'Source Sans Pro', sans-serif;
}

h3 {
  font-size: 20px;
}

p {
  font-size: 12px;
}

.approach {
  padding-top: 40px;
}

.dark-block {
  color: white;
  background-color: #313d3e;
}

.dark-block .btn {
  background-color: #313d3e;
}

.dark-block .btn:hover {
  background-color: #f6be0b;
  border-color: white;
  color: white;
}
